@font-face{
    font-family:"NES";
    font-style:normal;
    font-weight:400;
    src:url(../fonts/nintendo-nes-font.woff) format("woff");
}

@font-face{
    font-family:"GameBoy";
    font-style:normal;
    font-weight:400;
    src:url(../fonts/GameBoy.woff) format("woff");
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #333;
    image-rendering: pixelated;
    background-position: center;
    background-size: 64px 64px;
    overflow: hidden;

    --body-font: "MS Gothic", "Courier New", Courier, monospace;
}

body.prefer-key-nav, body.prefer-kry-nav * {
    cursor: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

#backgroundCanvas {
	position: fixed;
	top: 0;
	left: 0;
	display: block;
    z-index: -1;
    transform-origin: top left;
    transform: scale(4.01);
}

#gameCanvas {
	position: fixed;
	top: 0;
	left: 0;
	display: none;
    z-index: -1;
    transform-origin: top left;
    transform: scale(4.01);
}

p {
    font-family: "NES";
    font-size: 8px;
    color: white;
    margin: 0;
    user-select: none;
}

label {
    font-family: "NES";
    font-size: 16px;
    color: white;
    margin: 0;
}

button {
    border: 4px solid #444;
    background-color: white;
    color: #222;
    font-family: "NES";
    font-size: 16px;
    margin: 0;
    margin-top: 8px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 3px;
    padding-bottom: 3px;
    cursor: pointer;
}

.startingButton {
    border: none;
    background-color: rgba(255,255,255,0.5);
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    padding: 10px;
    display: none;
}

.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: top cubic-bezier(.15,.67,.53,1.02) 0.5s, left cubic-bezier(.15,.67,.53,1.02) 0.5s;
    padding: 8px;
}

#modeSelectContainer {
    position: absolute;
    top: 0;
    left: 90px;
    width: 435px;
    height: 100%;
    background: linear-gradient(to right, #0000, rgba(0,0,0,0.3) 5%, #0000);
    overflow: hidden;
}

.menuMode {
    position: absolute;
    width: 300px;
    transform: translateY(-50%);
    transition: top cubic-bezier(.15,.67,.53,1.02) 0.5s, left cubic-bezier(.15,.67,.53,1.02) 0.5s;
    cursor: pointer;
    user-select: none;
}

.menuArrow {
    position: absolute;
    left: 250px;
    transform: translate(-50%, -50%);
    transition: top cubic-bezier(.15,.67,.53,1.02) 0.5s, left cubic-bezier(.15,.67,.53,1.02) 0.5s;
    width: 30px;
    cursor: pointer;
    user-select: none;
}

#overallGradeCanvas {
    position: absolute;
    top: 30px;
    right: 60px;
    transform: scale(3);
    transform-origin: top right;
    transition: right cubic-bezier(.15,.67,.53,1.02) 0.5s;
}

#modeStatsContainer {
    position: absolute;
    top: 200px;
    right: 40px;
    width: 580px;
    padding: 20px;
    height: calc(100% - 310px);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.3);
    overflow-X: hidden;
    overflow-Y: auto;
}

#modeInfoContainer {
    position: absolute;
    top: 50%;
    left: 510px;
    padding-left: 30px;
    width: calc(100% - 600px);
    transform: translateY(-50%);
    min-width: 400px;
    max-height: 75%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow-y: auto;
}

#modeInfoContainer hr {
    height: 3px; 
    margin-block: 21px; 
    background-color: #eaeaff; 
    border: none;
}

#modeInfo {
    font-family: var(--body-font);;
    font-size: 18px;
    line-height: 24px;
    color: white;
    user-select: none;
}

#modeStatsCanvas {
    height: 300px;
    transform-origin: top left;
}

#playButton {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 40px;
    cursor: pointer;
    user-select: none;
}

#keybindsContainer, #settingsContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #888;
    border: 4px outset;
    width: 900px;
    padding: 30px;
    display: none;
}

.keybindsText {
    font-size: 24px;
    font-family: var(--body-font);
    display: inline-block;
    margin-right: 20px;
}

.keybind {
    color: #9ff;
}

#blackCoverLeft, #blackCoverRight {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: black;
    z-index: 3;
    transition: width cubic-bezier(.15,.67,.53,1.02) 0.5s;
}

#game, #effectOverlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(4);
    /*background-color: rgba(0,0,0,0.2);*/
    user-select: none;
    display: none;
}

#textOverlay {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 320px;
    height: 240px;
    padding: 0;
    transform: translate(-50%, -50%) scale(4);
    display: none;
}

#inputPromptCanvas {
    position: absolute;
    bottom: 60px;
    right: 60px;
    width: 320px;
    height: 12px;
    padding: 0;
    transform: scale(3);
    transform-origin: bottom right;
    pointer-events: none;
    z-index: 2;
}



/*Game-specific things*/

.GBText {
    color: #081810;
    position: absolute;
    font-family: "GameBoy";
}

.NESText {
    color: white;
    position: absolute;
    font-family: "NES";
    line-height: 8px;
}

.DXText {
    color: #081810;
    position: absolute;
    font-family: "GameBoy";
}

/* Form stuff */
.form-holder {
    display: flex;
    flex-flow: column;
    align-items: stretch;
    gap: 9px;
}

.form-element {
    background: #222a;
    color: #aaa;
    display: flex;
    align-items: center;
    min-height: 45px;
}
.form-element.dangerous {
    background: #311a;
    color: #f77;
}
body.prefer-key-nav .form-element:focus-within,
body:not(.prefer-key-nav) .form-element:hover {
    color: #fff;
    z-index: 1;
    animation: 
        form-element-focus 1s 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite, 
        form-element-focus-in 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
body.prefer-key-nav .form-element.dangerous:focus-within,
body:not(.prefer-key-nav) .form-element.dangerous:hover {
    color: #fcc;
}
.form-element[aria-disabled="true"] {
    filter: contrast(0.5) brightness(0.5);
}

.form-element button {
    margin: 0;
    flex-grow: 1;
    align-self: stretch;
    background: transparent;
    border: none;
    color: inherit;
    padding: 0 15px;
    text-align: left;
}
.form-element :is(button, input, textarea):focus-visible {
    outline: none;
}

.form-element > .label {
    outline: none;
    padding: 0 15px;
    width: 60px;
    flex-grow: 1;
    font-family: "NES";
    font-size: 16px;
    user-select: none;
    color: inherit;
}

.form-element-button button {
    flex-grow: 1;
}

.form-element-button.menuButton {
    border: none;
    width: 600px;
    height: 63px;
    padding: 0;
    margin-top: 6px;
}
.form-element-button.menuButton button {
    height: 100%;
    padding-left: 21px;
    font-size: 24px;
}


.form-element .value {
    flex-grow: 1;
    background: #111a;
    border: none;
    color: inherit;
    width: 0;
    font-family: var(--body-font);
    font-size: 18px;
    padding: 0 15px;
    height: 45px;
}
.form-element button.value {
    text-align: center;
}
.form-element :is(.left-button, .right-button) {
    width: 45px;
    height: 45px;
    flex: 0 0 45px;
    background: url(../img/menuArrowUp.png) center / 20px 20px no-repeat;
}
.form-element .left-button {
    transform: rotate(-90deg);
}
.form-element .right-button {
    transform: rotate(90deg);
}

.form-element input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 33px;
    height: 33px;
    flex: 0 0 33px;
    margin: 6px;
    padding: 0;
    border: 3px solid currentColor;
    position: relative;
}

.form-element input[type="checkbox"]:checked::after {
    content: "";
    position: absolute;
    inset: 3px;
    background: currentColor;
}


.form-heading {
    color: white;
    font-family: 'GameBoy', monospace;
    font-size: 16px;
    margin-block: 6px;
    font-weight: normal;
}
.form-description {
    font-family: var(--body-font);
    font-size: 18px;
    line-height: 24px;
}
.form-spacing {
    border: none;
    margin: 0;
}

@keyframes form-element-focus-in {
    from {
        box-shadow: 0 0 0 12px #0000;
    } to {
        box-shadow: 0 0 0 3px #fff;
    }
}
@keyframes form-element-focus {
    from {
        box-shadow: 0 0 0 3px #fff;
    } to {
        box-shadow: 0 0 0 3px #fffa;
    }
}

#introSoundForm {
    position: absolute; 
    left: 50%; 
    top: 50%; 
    min-width: 450px;
    transform: translate(-50%, -50%);
    z-index: 3;
}

#mainMenuForm {
    width: 600px;
}